
.card {
    background-color: lightblue;
    size: 50px;
}

.icon {
    size: 5px;
}

.row {
    margin: 15px;
}

.class-weather {
    border: black;
    border-radius: initial;
    border-style: solid;
}

#city-name{
    color: teal;
    font-weight: bolder;
    font-size: 30px;
}